#this is the base configuration file here very setting at suit level would be specified
[default]
browser = chrome


[config files detail]
configFilePath = src/main/resources/config
configFileName = config.cfg
