#this is the base configuration file here very setting at suit level would be specified
[default]
browser = chrome


[config files detail]
grofersconfigfilepath = src/main/resources/config
grofersfilename = grofersconfig.cfg
instagramconfigfilepath = src/main/resources/config
instagramfilename = instagramconfig.cfg


